<!DOCTYPE html>
<html>
<head>
	<title>Comment Section</title>
	<!-- bootstrap css -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>Comment Section</h1>
		<div class="jumbotron jumbotron-fluid">
  			<div class="container">
    			<p class="lead">
    				<% unames.forEach(function(uname){ %>
    				<h3><%=uname%></h3>
    			<%});%>
    				<% comments.forEach(function(comment){ %>
    				<p><%=comments%></p>
    			<% }); %>
    				
    			</p>
  			</div>
		</div>
	</div>
</body>

</html>