<!DOCTYPE html>
<html>
<head>
	<title>Comment Section</title>
	<!-- bootstrap css -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		
		<div class="content">
			<h2>Enter your Comments Below</h2>
			<form method="post" action="/">
				<input type="text" name="uname" placeholder="Username">
				<textarea name="comment" placeholder="Enter comment" cols="10" rows="3"></textarea>
				<button type="submit" class="btn btn-outline-info">Post Comment</button>
			</form>
			
		</div>		
	</div>

</body>
</html>